/* BASICS */
/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
}

/* line 9, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */
/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}

/* GUTTER */
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}

/* line 34, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
}

/* CURSOR */
/* line 43, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
  z-index: 3;
}

/* Shown when moving in bi-directional text */
/* line 48, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

/* line 51, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
  z-index: 1;
}

/* Can style cursor different in overwrite (non-insert) mode */
/* line 60, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-tab {
  display: inline-block;
}

/* DEFAULT THEME */
/* line 64, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-keyword {
  color: #708;
}

/* line 65, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-atom {
  color: #219;
}

/* line 66, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-number {
  color: #164;
}

/* line 67, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-def {
  color: #00f;
}

/* line 68, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-variable {
  color: black;
}

/* line 69, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-variable-2 {
  color: #05a;
}

/* line 70, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-variable-3 {
  color: #085;
}

/* line 71, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-property {
  color: black;
}

/* line 72, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-operator {
  color: black;
}

/* line 73, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-comment {
  color: #a50;
}

/* line 74, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-string {
  color: #a11;
}

/* line 75, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-string-2 {
  color: #f50;
}

/* line 76, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-meta {
  color: #555;
}

/* line 77, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-error {
  color: #f00;
}

/* line 78, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-qualifier {
  color: #555;
}

/* line 79, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-builtin {
  color: #30a;
}

/* line 80, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-bracket {
  color: #997;
}

/* line 81, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-tag {
  color: #170;
}

/* line 82, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-attribute {
  color: #00c;
}

/* line 83, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-header {
  color: blue;
}

/* line 84, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-quote {
  color: #090;
}

/* line 85, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-hr {
  color: #999;
}

/* line 86, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default .cm-link {
  color: #00c;
}

/* line 88, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-negative {
  color: #d44;
}

/* line 89, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-positive {
  color: #292;
}

/* line 90, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-header, .cm-strong {
  font-weight: bold;
}

/* line 91, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-em {
  font-style: italic;
}

/* line 92, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-link {
  text-decoration: underline;
}

/* line 94, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-invalidchar {
  color: #f00;
}

/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

/* line 97, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
/* line 104, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}

/* line 112, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

/* line 121, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-sizer {
  position: relative;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
/* line 128, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}

/* line 133, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 138, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 143, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
  z-index: 6;
}

/* line 148, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3;
}

/* line 154, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutter {
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline;
}

/* line 163, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

/* line 169, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-lines {
  cursor: text;
}

/* line 172, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}

/* line 188, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

/* line 193, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/* line 199, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

/* line 205, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-widget {
  display: inline-block;
}

/* line 209, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

/* line 213, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}

/* line 219, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-measure pre {
  position: static;
}

/* line 221, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}

/* line 227, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible;
}

/* line 231, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-selected {
  background: #d9d9d9;
}

/* line 232, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

/* line 234, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
/* line 240, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror span {
  *vertical-align: text-bottom;
}

@media print {
  /* Hide the cursor when printing */
  /* line 244, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-1157936881ce/gko_core/vendor/assets/stylesheets/codemirror.css */
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden;
  }
}
