/* line 1, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror {
  line-height: 1em;
  font-family: monospace;
  /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
  position: relative;
  /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
  overflow: hidden;
}

/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  height: 300px;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
  outline: none;
}

/* Vertical scrollbar */
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar {
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  /* This corrects for the 1px gap introduced to the left of the scrollbar
     by the rule for .CodeMirror-scrollbar-inner. */
  margin-left: -1px;
}

/* line 31, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar-inner {
  /* This needs to have a nonzero width in order for the scrollbar to appear
     in Firefox and IE9. */
  width: 1px;
}

/* line 36, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar.cm-sb-overlap {
  /* Ensure that the scrollbar appears in Lion, and that it overlaps the content
     rather than sitting to the right of it. */
  position: absolute;
  z-index: 1;
  float: none;
  right: 0;
  min-width: 12px;
}

/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar.cm-sb-nonoverlap {
  min-width: 12px;
}

/* line 48, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-scrollbar.cm-sb-ie7 {
  min-width: 18px;
}

/* line 52, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}

/* line 60, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
  white-space: pre !important;
}

/* line 66, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-lines {
  padding: .4em;
  white-space: pre;
  cursor: text;
}

/* line 71, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-lines * {
  /* Necessary for throw-scrolling to decelerate properly on Safari. */
  pointer-events: none;
}

/* line 76, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
}

/* line 91, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

/* line 100, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror textarea {
  outline: none !important;
}

/* line 104, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror pre.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}

/* line 112, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-keymap-fat-cursor pre.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: transparent;
  background: rgba(0, 200, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800);
}

/* Kludge to turn off filter in ie9+, which also accepts rgba */
/* line 120, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-keymap-fat-cursor pre.CodeMirror-cursor:not(#nonsense_id) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* line 124, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-focused pre.CodeMirror-cursor {
  visibility: visible;
}

/* line 128, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
div.CodeMirror-selected {
  background: #d9d9d9;
}

/* line 129, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-focused div.CodeMirror-selected {
  background: #d7d4f0;
}

/* line 131, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.CodeMirror-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4);
}

/* Default theme */
/* line 138, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-keyword {
  color: #708;
}

/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-atom {
  color: #219;
}

/* line 140, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-number {
  color: #164;
}

/* line 141, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-def {
  color: #00f;
}

/* line 142, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-variable {
  color: black;
}

/* line 143, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-variable-2 {
  color: #05a;
}

/* line 144, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-variable-3 {
  color: #085;
}

/* line 145, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-property {
  color: black;
}

/* line 146, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-operator {
  color: black;
}

/* line 147, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-comment {
  color: #a50;
}

/* line 148, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-string {
  color: #a11;
}

/* line 149, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-string-2 {
  color: #f50;
}

/* line 150, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-meta {
  color: #555;
}

/* line 151, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-error {
  color: #f00;
}

/* line 152, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-qualifier {
  color: #555;
}

/* line 153, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-builtin {
  color: #30a;
}

/* line 154, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-bracket {
  color: #cc7;
}

/* line 155, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-tag {
  color: #170;
}

/* line 156, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-attribute {
  color: #00c;
}

/* line 157, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-header {
  color: blue;
}

/* line 158, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-quote {
  color: #090;
}

/* line 159, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-hr {
  color: #999;
}

/* line 160, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
.cm-s-default span.cm-link {
  color: #00c;
}

/* line 162, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
span.cm-header, span.cm-strong {
  font-weight: bold;
}

/* line 163, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
span.cm-em {
  font-style: italic;
}

/* line 164, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
span.cm-emstrong {
  font-style: italic;
  font-weight: bold;
}

/* line 165, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
span.cm-link {
  text-decoration: underline;
}

/* line 167, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0;
}

/* line 168, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror.css */
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22;
}

/* Loosely based on the Midnight Textmate theme */
/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night {
  background: #0a001f;
  color: #f8f8f8;
}

/* line 5, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night div.CodeMirror-selected {
  background: #447 !important;
}

/* line 6, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night .CodeMirror-gutter {
  background: #0a001f;
  border-right: 1px solid #aaa;
}

/* line 7, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night .CodeMirror-gutter-text {
  color: #f8f8f8;
}

/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night .CodeMirror-cursor {
  border-left: 1px solid white !important;
}

/* line 10, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-comment {
  color: #6900a1;
}

/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-atom {
  color: #845dc4;
}

/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-number, .cm-s-night span.cm-attribute {
  color: #ffd500;
}

/* line 13, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-keyword {
  color: #599eff;
}

/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-string {
  color: #37f14a;
}

/* line 15, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-meta {
  color: #7678e2;
}

/* line 16, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-variable-2, .cm-s-night span.cm-tag {
  color: #99b2ff;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-variable-3, .cm-s-night span.cm-def {
  color: white;
}

/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-error {
  color: #9d1e15;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-bracket {
  color: #8da6ce;
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-comment {
  color: #6900a1;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-builtin, .cm-s-night span.cm-special {
  color: #ff9e59;
}

/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p370/bundler/gems/gko_cms3-35e5e0c4d5f1/gko_core/vendor/assets/stylesheets/codemirror/themes/night.css */
.cm-s-night span.cm-link {
  color: #845dc4;
}
