<article class='row-fluid page'>
  <div class='span12'>
	<div id="page-text">
	<%= render_page_title(resource.title) %>
	<%= render_html_text(resource.body) %>
	
	<%= render("inquiries/form") %>
	</div>
</div>
</article>