
/* Thumbnail Effects Style */
.tj_container{
	width:100%;
	height:100%;
	position:relative;
	padding: 28px 40px ;
	@include box-sizing(border-box);
}
.tj_nav{
	position:absolute;
	bottom:0;
	height:44px;
	z-index: 1000;
	width: 100%;
	line-height: 44px;
	text-align: center;
	a {
		display: inline-block;
		@include size(40px,40px);
		line-height: 40px;
		background-color: none;
		top: 0;
		text-align: center;
		color: $grayLight;
		text-decoration: none;
		border: 0;
		cursor: pointer;
		font-size: 24px;
		@include transition("all 0.3s ease-in-out");
		&.active,
		&:active,
		&:hover {
			color: $white;
			@include opacity(100);
			text-shadow: 0px 0px 8px $white;
			font-size: 28px;
			line-height: 44px;
		}
		&.tj_next,
		&.tj_prev {
			font-size: 36px;
			line-height: 36px;
		}
		&.tj_next{
			left:auto;
			right:0;
		}
	}
}


.tj_wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		float: left;
	}
	li{
		float:left;
		cursor: pointer;
		outline:none;
		position: relative;
		max-width: 286px;
		max-height: 286px;
		&:hover {
			text-decoration: none;
		}
		.tj_gallery_inner {
			position:relative;
			cursor: pointer;
			display: block;
			margin: 4px;
			overflow:hidden;
			border: 1px solid white;
			@include box-shadow(4px 4px 16px rgba(0,0,0,.2));
			@include border-radius(12px);
		}
		img {  
			display:block;
			position: relative;
			padding: 0;
			margin:0;
			@include box-sizing(border-box);
			@include border-radius(12px);
		    transition: all 0.2s ease-in;
		}

		h2 {
			text-transform: uppercase;
		    color: #000;
		    text-align: center;
			line-height: 22px;
		    position: relative;
		    padding: 0;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		    margin: 12px;
			&:hover {
				text-decoration: none;
			}
		}
		.product-price {
			text-align: center;
		}
		p { 
		    font-style: italic;
		    position: relative;
		    color: #000;
		    padding: 10px 20px 20px;
		    text-align: center;
			&:hover {
				text-decoration: none;
			}
		}
		a.info { 
			display: block;
		    text-decoration: none;
		    padding: 7px 14px;
		    color: #000;
			text-align: center;
		}
		.tj_content { 
			position: absolute;
			overflow: hidden;
			top: 0;
			bottom: 0;
			width: 100%;
			@include box-sizing(border-box);
			@include border-radius(12px);
			background: rgba(255, 255, 255, 0.7);
			@include transition("all .6s ease-out");
		}
	}
} 

.product-loader {
    background: #000;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
    background: asset-url("classic-loader.gif", image) no-repeat 2px 2px;
}