$contentContainerBackgroundColor: #F3F4EE;
$altFontFamily: "voluta-script-pro", "Times New Roman", "Times", serif;
// Typography
$baseFontFamily: "futura-pt","Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 24px;
$textColor: black;
$headingFontFamily: $baseFontFamily;
$headingTextColor: $textColor;
$headingBaseFontSize: 26px;
$linkColor: #525049;
$borderColor: #E2E2E2;
$borderSize: 1px;

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #414042;
$grayDark:              #808285;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #07ABDD;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #DD1F26;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $white;
$navbarBackgroundHighlight:       $white;

$navbarText:                      $grayLight;
$navbarLinkColor:                 $grayLight;
$navbarLinkColorHover:            $black;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $white;
$navbarSearchBorder:              darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor:                $black;


$itemPadding: 40px;

@import "twitter/bootstrap";
@import "gko/public/base";
@import "gko/store"; 
@import "galleria";


#content {
	padding-top: 48px;
	padding-bottom: 40px;
	max-width: 980px;
	@include center-block;
}

@import "home";

/*-----------------------------------------
 MIXIN
----------------------------------------- */

@mixin articleProductSize($maxWidth: 480) {
	article.product {
		width: ($maxWidth - ($itemPadding * 2));
		.carousel {
			max-width: 650px; // max image width
			max-height: 650px; // max image width
			width: $maxWidth - ($itemPadding * 2) - 330;
			height: $maxWidth - ($itemPadding * 2) - 330;
		}
		.product-info {
			padding-left: 24px;
			width: 300px;
			//@include box-sizing(border-box);
		}
	}
}


/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
   @include transition("color .5s linear, background-color .5s linear")
}

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
} 

/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1 {
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase; 
	line-height: $baseLineHeight;
}
h1,h2,h3, h4 {
	font-weight: normal;
	letter-spacing: 1px;
}
h2, h3 {
	font-size: $baseFontSize;
}
h4 {
	letter-spacing: 1px;
	font-size: $baseFontSize;	
}
.navbar-inner {
	@include reset-filter;
}
label { 
	font-size: 13px; 
}

/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar { 
	.header-nav { 
		.nav > li > a {
			@extend .uppercase_font_style; 
			font-size: 10px;  
		}
	}
}
.nav.login-bar {
	display: none;
}
.navbar .brand a {
	font-size: 10px;
	font-weight:bold;
}
.header-top {
	position: absolute;
	right: 12px;
	top: 14px;
}
#locales a {
	padding: 0;
	width: 24px;
	height: 24px;
	background: transparent asset-url('en.png',image) center center no-repeat;
	@include hide-text();
}
#locales a.fr {
	background-image: asset-url('fr.png',image);
}
#facebook {
	background: white asset-url('icon-facebook.png',image) left center no-repeat;
	position: absolute;	
	top: 48px;
	right: 24px;
	display: block;
	overflow: hidden;
	width: 100px;
	height: 24px;
	z-index: 1000;
	padding-left: 32px;
	@include border-radius(0 0 6px 6px)
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer-container {
	position:fixed;
	z-index: 1030;
	bottom: 0;
	width: 100%;
	background-color: white;
}
#footer {
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
	font-size: 12px; 
}

/*-----------------------------------------
 STORE
----------------------------------------- */

.product-info {
	float: left;
	color: white;
	h1.page-title {
		border-bottom: $borderSize solid $borderColor;
		color: white;
	}
	h4 {
		@extend .uppercase_font_style; 
		border-bottom: 1px solid $borderColor; 
		padding-top: $baseLineHeight; 
		color: white;
	}
	input {
		color: black;
	}
}
#product-variants {
	label {
		display: inline-block;
	} 
} 
h2#product-variants-title {
	border-bottom: $borderSize solid $borderColor;
	color: white;
}
#product-properties {
	
	line-height: 18px;
	tbody {
		vertical-align: top;
		tr>td{
			min-width: 80px;
		}
	}
}

article.product {
	@include center-block;
	.carousel {
		float:left;
		background-color: white;
		border: 1px solid rgba(255,255,255,.8);
		@include box-shadow(0 4px 16px rgba(0,0,0,.2));
		@include border-radius(12px);
		overflow:hidden;
		img {
			@include border-radius(12px);
		}
	}
	.carousel-control {
		position: absolute;
		top: auto;
		left: 50%;
		margin-left: -40px;
		bottom: 0px;
		width: 40px;
		height: 40px;
		margin-top: 0;
		border: none;
		color: black;
		background-color: white;
		@include border-radius(0);
		@include opacity(70);
		&:hover {
			color: black;	
		};
	}

	.carousel-control.right {
		left: auto;
	 	right: 50%;
		margin-right: -40px;
		margin-left: 0;
	}
}



/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */

//@import "gko/responsive"; 

@media(min-width: 767px) {
	@include articleProductSize(769);

}

@media(max-width: 768px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
		
}


@media(min-width: 980px) {
	@include articleProductSize(980);
	#store-menu {
		float:right;
		margin: 0;
		margin-left: 200px;
	}
	.navbar {
	  
	  position: fixed;
	  right: 0;
	  left: 0;
	  top: 0;
	  z-index: $zindexFixedNavbar;
	  margin-bottom: 0; // remove 18px margin from static navbar
	  
	}
	.navbar-inner {
		padding-bottom: 12px;
	}
	.navbar .brand {
		float: left;
		margin: 12px 0 0 0;
		padding: 0;
		text-transform: uppercase;
	}
	.navbar .nav-collapse {
		clear: none;
		float: left;
		margin: 17px 0 0 24px;
		nav, .nav {
			float: left;
		}
		.nav > li > a {
			padding: 0 6px;
			font-size: 10px;
			font-weight:normal;	
			text-shadow: none;
		}
		

	}

	.headline {
		margin: 0 120px;
		font-size: 98px;
		line-height: 78px;
	}

}
