$contentContainerBackgroundColor: #F3F4EE;
$altFontFamily: "voluta-script-pro", "Times New Roman", "Times", serif;
// Typography
$baseFontFamily: "futura-pt","Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 22px;
$textColor: black;
$headingFontFamily: $baseFontFamily;
$headingTextColor: $textColor;
$headingBaseFontSize: 26px;
$linkColor: #525049;
$borderColor: #E2E2E2;
$borderSize: 1px;

@import "gko_public_all";
@import "gko/store"; 
@import "galleria";
@import "jscrollpane";

@-webkit-keyframes fade-circle {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fade-circle {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes fade-circle {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}


/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
} 

/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1 {
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase; 
}
h1,h2,h3, h4 {
	font-weight: normal;
	letter-spacing: 1px;
}
h2, h3 {
	font-size: $baseFontSize;
}
h4 {
	letter-spacing: 1px;
	font-size: $baseFontSize;	
}


/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
html {
	margin: 0;
	padding: 0;
}

body {
	font-weight: 300;
	background: #fefefe;
	padding: 0;
	margin: 0;
	overflow: hidden;
} 
#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fefefe;
	z-index: 10000;
}
#wrapper-wide-body {
	margin: 50px 0;
	
}


label { 
	font-size: 13px; 
}
.grid li > .thumbnail {
	position: relative;
	padding: 0;
	margin:0;
	border: none;
	@include border-radius(0);
	@include box-shadow(none);
	cursor: pointer;
	.thumbnail-image {
		position:relative;
		margin: 0;
		padding: 0;
		border: 1px solid white;
		
		border: 1px solid rgba(255,255,255,.8);
		@include box-shadow(0 4px 16px rgba(0,0,0,.2));
		@include border-radius(12px);
		overflow:hidden;
		img {
			@include border-radius(12px);
		}
	}
	.thumbnail-caption-inner {
		padding: 0;
	}
	.thumbnail-caption {
		top: 235px;
		left: 0;
		right: 0;
		font-size: 14px;
		line-height: 22px;
		color: white;
	//	background: #fff;
	//	background-color: rgba(255,255,255,.7);
	//	@include border-radius(12px);
		@include transition(all .3s ease-out);
	}

	.thumbnail-title {
		font-size: 11px;
		line-height: $baseLineHeight;
		text-align: center;
		text-transform: uppercase;
		a {
			color: white;
			font-weight: 700; 
			
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
		
	}
	.thumbnail-product-price {
		font-size: 10px;
		text-align: center;
	}
} 
.carousel {
	background-color: white;
	border: 1px solid rgba(255,255,255,.8);
	@include box-shadow(0 4px 16px rgba(0,0,0,.2));
	@include border-radius(12px);
	overflow:hidden;
	img {
		@include border-radius(12px);
	}
}
.carousel-control {
	position: absolute;
	top: auto;
	left: auto;
	right: 40px;
	bottom: 0px;
	width: 40px;
	height: 40px;
	margin-top: 0;
	border: none;
	color: black;
	background-color: white;
	@include border-radius(0);
	opacity: 0.7;
	filter: alpha(opacity=70);
	&:hover {
		color: black;	
	};
}

.carousel-control.right {
 	right: 0px;
	bottom: 0px;
	@include border-radius(0 0 12px 0);	
}
#content {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 40px;
}
/*-----------------------------------------
 GLOBAL EFFECT
----------------------------------------- */
a {
   @include transition(color .5s linear, background-color .5s linear)
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
.navbar { 
	.header-nav { 
		.nav > li > a {
			@extend .uppercase_font_style; 
			font-size: 10px;  
		}
	}
}
.nav.login-bar {
	display: none;
}
.navbar .brand a {
	font-size: 10px;
	font-weight:bold;
}
.header-top {
	position: absolute;
	right: 12px;
	top: 14px;
}
#locales a {
	padding: 0;
	width: 24px;
	height: 24px;
	background: transparent asset-url('en.png',image) center center no-repeat;
	@include hide-text();
}
#locales a.fr {
	background-image: asset-url('fr.png',image);
}
/*-----------------------------------------
 FOOTER
----------------------------------------- */
#footer-container {
	position:fixed;
	z-index: 1030;
	bottom: 0;
	width: 100%;
	background-color: white;
}
#footer {
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
	font-size: 12px; 
	.nav > li > a {
		//line-height: 32px;
		&#follow-me {
			position:relative;
			padding-left: 30px;
			i {
				background: transparent asset-url('icon-facebook.png',image) center center no-repeat;
				width: 30px;
				height: 32px;
				position: absolute;
				display:block;
				top: 50%;
				margin-top: -16px;
				left: 0;
			}
		}
	}
}
.product-content-wrapper {
	padding: 24px;
	width: 100%;
	height: 100%;
	@include box-sizing(border-box);
}

/*-----------------------------------------
 STORE
----------------------------------------- */

.product-info {
	color: white;
	h1.page-title {
		border-bottom: $borderSize solid $borderColor;
		color: white;
	}
	h4 {
		@extend .uppercase_font_style; 
		border-bottom: 1px solid $borderColor; 
		padding-top: $baseLineHeight; 
		color: white;
	}
	input {
		color: black;
	}
}
#product-variants {
	label {
		display: inline-block;
	} 
} 
h2#product-variants-title {
	border-bottom: $borderSize solid $borderColor;
	color: white;
}


.products-categories {
	display: none;
	border-bottom: 1px solid #B7B6B6;
	margin-bottom: $baseLineHeight;
	@include clearfix;
	.nav-container {
		@include center-nav;
		.nav-list > li > a {
			margin: 0;
			letter-spacing: 1px; 
			text-transform: uppercase;
			font-weight: normal;
			text-shadow: 0px 1px 0 $white;
			font-size: $baseFontSize - 2;
		}
		.nav-list > li.active > a {
			color: $white;
			text-shadow: 0px 1px 0 $black;
		}
	}
}
/*-----------------------------------------
 HOME
----------------------------------------- */
.headline {
	font-family: $altFontFamily;
	color: white;
	height: auto;
	font-size: 68px;
	line-height: 58px;
	text-align: center;
	text-shadow: 0px 0px 100px black;
	margin: 0 20px;
	background: transparent asset-url('apos.png', image) 0 0 no-repeat;
	min-height: 180px;
	em {
		font-family: $baseFontFamily;
		font-size: $baseFontSize;
	}
}
.inview {
	.headline {
		text-shadow: 0px 0px 6px rgba(0,0,0,.4);
	}
}
#cover {
	background: rgba(103,100,93,.96) asset-url('stbarth_treasures-GEG_0099.jpg', image);
	@include box-shadow(0 4px 16px rgba(0,0,0,.4));
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment:absolute;
	@include background-size(cover, cover);
	.headline {
		color: white;
		font-size: 58px;
		line-height: 48px;
		margin-top: 388px;
	}
	.circles {
		position: absolute;
		left: 50%;
		width: 20px;
		margin-left: -10px;
		bottom: 8px;
		height: 80px;
		.circle {
			position: absolute;
			left: 50%;
			@include box-shadow(0 4px 16px rgba(0,0,0,.4));
			background: white;
			background-color: rgba(255,255,255,.8);
			text-align: center;
		}
		.circle1 {
			bottom: 32px;
			@include circle(6px);
			margin-left: -3px;
			-webkit-animation: fade-circle 2s 0.3s infinite alternate;
		    -moz-animation:    fade-circle 2s 0.3s infinite alternate;
		    -ms-animation:     fade-circle 2s 0.3s infinite alternate;
		}
		.circle2 {
			bottom: 18px;
			@include circle(10px);
			margin-left: -5px;
			-webkit-animation: fade-circle 2s 0.6s infinite alternate;
		    -moz-animation:    fade-circle 2s 0.6s infinite alternate;
		    -ms-animation:     fade-circle 2s 0.6s infinite alternate;
		}
		.circle3 {
			bottom: 0px;
			@include circle(14px);
			margin-left: -7px;
			-webkit-animation: fade-circle 2s 0.9s infinite alternate;
		    -moz-animation:    fade-circle 2s 0.9s infinite alternate;
		    -ms-animation:     fade-circle 2s 0.9s infinite alternate;
		}
	}


}
#logo {
	background: transparent asset-url('logo.png',image) center center no-repeat;
	width: 400px;
	height:338px;
	margin-left: -200px;
	position: absolute;
	left: 50%;
	top: 10px;
}
.parallax-inner {
	
	position: relative;
	height: 100%;
	width: 100%;
}
.parallax-item {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: none;
	top: 0px;
}
.parallax-item.products {
	overflow: visible;
}
/*.close {
	float:left;
	padding: 12px 0;
	color: white;
	width: 50px;
	height: 50px;
	background: transparent asset-url('arrows.png',image) 0 0 no-repeat;
	@include hide-text();

	display: block;
}*/
.back{
	position:absolute;
	top:50%;
	margin-top:-40px;
	left:0;
	z-index: 1000;
	display: block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background-color: #E6E6E6;
	text-align: center;
	color: #383838;
	text-decoration: none;
	border: 0;
	cursor: pointer;
}
.back:hover {
	color: black;
	background-color: white;
}
.parallax-item .bg {
	width: 100%;
	height:100%;
	display: block;
	position: absolute;
	background: #000;
	opacity:0.7;
	filter: alpha(opacity=70);
	z-index: 0;
}


.parallax-item.active {
	display: block;
}
.background-image {
	zoom: 100%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-attachment:fixed;
	@include background-size(cover, cover);
	position:relative;
	
	@include box-shadow(0 4px 16px rgba(0,0,0,.2));
	overflow: hidden;
	.pod {
		//position: absolute;
		top: 50%;
		margin-top: -240px;
		height: 480px;
	}
	.pod-carousel {
		cursor: pointer;
		width:300px;
		height:300px;
		position: relative;
		border: 1px solid rgba(255,255,255,.8);
		@include box-shadow(0 4px 16px rgba(0,0,0,.2));
		@include border-radius(12px);
		img {
			@include border-radius(12px);
			width:300px;
			height:300px;
		}
		float:left;
		margin-right: 100px;
	}
	/*.pod-desc {
		font-size: 16px;
		line-height: 22px;
		color: black;
		text-shadow: 1px 1px 12px rgba(0,0,0,.2);
		background-color: rgba(255,255,255,.8);
		width: 276px;
		float:right;
		margin-top: -20px;
		margin-right: 100px;
		padding: 32px 12px 12px;
		border: 1px solid rgba(255,255,255,.6);
	}*/
	a.view-all{
		position:absolute;
		right:0;
		top: 50%;
		margin-top: -20px;
		height:40px;
		width:40px;
		z-index: 1000;
		line-height: 40px;
		background-color: #E6E6E6;
		text-align: center;
		color: #383838;
		text-decoration: none;
		border: 0;
		cursor: pointer;
	}
	a.view-all:hover {
		color: black;
		background-color: white;
	}

	.ss-left, .ss-right{
	    float: left;
	    width: 48%;
	    position: relative;
	}
	.ss-right{
	    padding-left: 2%;
	}
	.ss-left{
	    text-align: right;
	    float: left;
	    padding-right: 2%;
	}

	.pod-title {
		background: transparent asset-url('apos2.png', image) center bottom no-repeat;
		line-height: 300px;
		a {
			font-family: $altFontFamily;
			color:white;
			text-transform: lowercase;
			font-size: 300px;
			font-weight: 300;
			line-height: 150px;
			color: #FFF;
			text-shadow:0px 0px 24px #FFFFFF;
			&:hover {
				text-decoration: none;
			};
		}
	}

}

#js-page-container {

}

#about {
	color: white;
	padding: 24px 0 100px;
}
#about h3 {
	color: white;
	text-transform: uppercase; 
}
#about h2 {
	margin-bottom: 80px;
	color: white;
	text-transform: uppercase; 
}

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */

@import "gko/responsive"; 
@media(max-width: 768px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}	
}

@media(min-width: 980px) {
	#store-menu {
		float:right;
		margin: 0;
		margin-left: 200px;
	}
	.navbar {
	  
	  position: fixed;
	  right: 0;
	  left: 0;
	  top: 0;
	  z-index: $zindexFixedNavbar;
	  margin-bottom: 0; // remove 18px margin from static navbar
	  
	}
	.navbar-inner {
		padding-bottom: 12px;
	}
	.navbar .brand {
		float: left;
		margin: 12px 0 0 0;
		padding: 0;
		text-transform: uppercase;
	}
	.navbar .nav-collapse {
		clear: none;
		float: left;
		margin: 17px 0 0 24px;
		nav, .nav {
			float: left;
		}
		.nav > li > a {
			padding: 0 6px;
			font-size: 10px;
			font-weight:normal;	
			text-shadow: none;
		}
		

	}

	.headline {
		margin: 0 120px;
		font-size: 98px;
		line-height: 78px;
	}

}

/* Thumbnail Effects Style */
.tj_container{
	width:100%;
	height:100%;
	position:relative;
	padding: 60px;
	@include box-sizing(border-box);
}
.tj_nav{
	position:absolute;
	left:50%;
	margin-left:-40px;
	bottom:0;
	height:40px;
	width:80px;
	z-index: 1000;
//	display: none;
}
.tj_nav span{
	display: block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background-color: #E6E6E6;
	position: absolute;
	top: 0;
	left:0;
	text-align: center;
	color: #383838;
	text-decoration: none;
	border: 0;
	cursor: pointer;
}
.tj_nav span:hover {
	color: black;
	background-color: white;
}
.tj_nav span.tj_next{
	left:auto;
	right:0;
}
.tj_nav span:hover{
	opacity:1.0;
}
.tj_wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}
.tj_wrapper ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.tj_wrapper ul li{
	float:left;
	
	cursor: pointer;
	
	outline:none;
	position: relative;
	max-width: 286px;
	max-height: 286px;
	&:hover {
		text-decoration: none;
	}
	.tj_gallery_inner {
		position:relative;
		cursor: pointer;
		display: block;
		margin: 4px;
		overflow:hidden;
		border: 1px solid white;
		@include box-shadow(4px 4px 16px rgba(0,0,0,.2));
		@include border-radius(12px);
	}

	img {  
		display:block;
		position: relative;
		padding: 0;
		margin:0;
		@include box-sizing(border-box);
		@include border-radius(12px);
	    transition: all 0.2s ease-in;
	}

	h2 {
		text-transform: uppercase;
	    color: #000;
	    text-align: center;
	    position: relative;
	    padding: 10px;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	    margin: 20px 40px 0px 40px;
		&:hover {
			text-decoration: none;
		}
	}
	p { 
	    font-style: italic;
	    position: relative;
	    color: #000;
	    padding: 10px 20px 20px;
	    text-align: center;
		&:hover {
			text-decoration: none;
		}
	}
	a.info { 
		display: block;
	    text-decoration: none;
	    padding: 7px 14px;
	    color: #000;
		text-align: center;
	}
	.tj_content { 
		position: absolute;
		overflow: hidden;
		top: 0;
		bottom: 0;
		right: -286px;
		width: 286px;
		height: 286px;
		@include border-radius(12px);
		background: rgba(255, 255, 255, 0.7);
		@include transition(all .6s ease-out);
	}

}
.row-fluid {
	padding-left: 0px;
	padding-right: 0px;
	//width: 100%;
	//max-width: none;
}