<% if site.frontend_translated? %>
    <nav id="locales-menu" class="locales-menu-container pull-right">
      <ul id='locales' class="nav">
        <% site.languages.published.each do |language| %>
                <li><%= link_to(language.presentation, root_url(:locale => language.code), :class => [language.code.to_s, 'navbar-link']) %></li>
        <% end %>
      </ul>
    </nav>
<% end %>
